<ion-view view-title="Semana">
    <ion-content>
        <div class="row header">
            <div class="col"></div>
            <div ng-repeat="hour in vm.hours" class="col">
                {{::hour}}
            </div>
        </div>
        <div class="row" ng-repeat='(day, hours) in vm.schedules'>
            <div class="col">
                {{::day}}
            </div>
            <div class="col" ng-repeat="(hour, users) in hours">
                <span class="schedule-user-container" ng-repeat="user in users">
                    <img src="{{::user.profilePhoto}}" alt="{{::user.name}}" />
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>
