/**/

ion-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.scroll {
    height: 100%;
}

.spinner-wrapper {
    width: 70px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    top: 40%;
}

.spinner-wrapper svg {
    width: 65px;
    height: 65px;
}


/*  ======================
    ======== WEEK ========
    ======================
*/

.schedule-day {
    margin-top: 5px;
}

.col {
    border: solid 1px #ddd;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center;
}

.col:first-child,
.row:first-child {
    border-left: none;
}

.row:first-child .col {
    border-top: none;
}

.schedule-user-container img {
    width: 30px;
    border-radius: 100px;
}


/*  ======================
    ======== USER ========
    ======================
*/

.phone-link {
    color: black;
}
